<!DOCTYPE html>
<html>
  <head>
    <title>JAVASCRIPT - DREAM FOLLOWERS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CUBIC WORLD</a>
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Actividades
              </a>
              <!-- Dropdown menu -->
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a
                    class="dropdown-item"
                    href="https://dreamfollowersam.github.io/JSprimitivas/"
                    >Primitivas</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://dreamfollowersam.github.io/localstorage/"
                    >Reservaciones</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://dreamfollowersam.github.io/tarjeta/"
                    >Tarjeta</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://dreamfollowersam.github.io/iniVueJS/"
                    >Ini Vue JS</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="https://dreamfollowersam.github.io/BarrasPraderas/">Barras de Praderas</a>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="navbar-nav d-flex flex-row me-1">
            <li class="nav-item me-3 me-lg-0">
              <a
                class="nav-link"
                href="https://www.instagram.com/_dream_followers_am/"
                target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a
                class="nav-link"
                href="https://twitter.com/_DreamFollowers"
                target="_blank"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div
      class="container-fluid row mx-0 px-auto mt-4 pt-5 pb-3 bg-light text-black"
    >
      <div class="col-md-3 shadow-lg p-3" id="wish">
        <h5>Filtros</h5>
        <div class="form-group">
          <label >Precio maximo:</label>
          <input type="number"v-model="fpm" min="0" max="100" class="form-control">
        </div>
        <div class="form-group">
          <label >Nombre:</label>
          <input type="text" v-model="fnm" class="form-control">
        </div>
        <h5>Lista de Deseos:</h5>
        <ul class="list-unstyled">
          <li v-for="w in wl">
            {{w.nm}}
          </li>
        </ul>
      </div>

      <div id="section" class="col-md-6 d-flex m-auto flex-wrap">

        <div class="card text-center col-md-5 mx-auto my-3 shadow-lg p-1" v-for="it in busc" :style="clr(it.vig)">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img :src="it.src" class="img-fluid" :style="trns(it.vig)" />
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
          </div>
        
          <div class="card-body">
            <h5 class="card-title">{{it.nm}}</h5>
            <p class="card-text" v-if="cnm == ''">
              Ingredientes: {{it.ing}}
            </p>
            <p class="card-text" v-if="cnm == ''">
              Tamaño: {{it.tam}}
            </p>
            <h5 class="card-title">${{it.pr}} MXN.</h5>
              <button type="button" class="btn btn-primary" @click="nwl(it)"><i class="fas fa-list-alt"></i></button>
              <button type="button" class="btn btn-success" @click="ncl(it)" :disabled="!it.vig"><i class="fas fa-cart-plus"></i></button>
          </div>
        </div>

      </div>

      <div class="col-md-3 shadow-lg p-3" id="cart">
        <h5>Carrito de compras:</h5>
        <div class="row mx-0 px-0 mt-5">
          <ul class="list-unstyled container-fluid">
            <li v-for="c in cl" class="row container-fluid">
              <div class="col-md-8 text-right">
                <p>{{c.nm}}</p>
              </div>
              <div class="col-md-4 text-left">
                <p>${{c.pr}}</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="row mx-0 px-0 mt-5">
          <div class="col-md-8 text-right">
            <p>Subtotal:</p>
            <p>IVA:</p>
            <p>Total:</p>
          </div>
          <div class="col-md-4 text-left">
            <p>{{stl}}</p>
            <p>{{iva}}</p>
            <p>{{ttl}}</p>
          </div>
        </div>
        <button type="button" class="btn btn-success w-100"><i class="fas fa-money-bill"> Pagar</i></button>
      </div>
    </div>

    <footer class="bg-dark text-center text-white">
      <div class="container p-4">
        <section class="mb-3">
          <p>
            Practicas de javascript desarrolladas para la materia de frameworks
            en el grupo EVN401, en la carrera Entornos Virtuales y Negocios
            Digitales de la Universidad Tecnologica de Leon, bajo la mentoria de
            la profesora Anahi Torres Tinoco.
          </p>
        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:
        <a
          class="text-white"
          href="https://www.instagram.com/_dream_followers_am/"
          target="_blank"
          >Dream Followers</a
        >
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
    ></script>
    <script src="js/index.js"></script>
  </body>
</html>
